<%- include("./layout/head.ejs") %>

    <body class="h-100 bg-black">
        <div id="me" class="custom-modal position-fixed h-100" style="display: none;">
            <div class="custom-modal-container">
                <div class="custom-modal-header d-flex justify-content-end align-items-center p-2 bg-white"><span
                        class="close bg-black d-flex justify-content-center align-items-center overflow-hidden"><img
                            src="/public/images/close-button.svg" alt=""></span></div>
                <div class="custom-modal-content">
                    <div class="row mx-0">
                        <div class="col-12 col-md-6 col-lg-8">
                            <h1>Who are you?</h1>
                            <p>My name is Volkan. I was born in 7 September 1993. If you want to congratulate my
                                birthday, you can send an e-mail.</p><br>
                            <p>I was born and grew up in İzmir, Turkey. So that means being unemployed for years. But I
                                never give up, I always continued to work and improve myself. I tried, but how far! I've
                                come face to face with the industry's ruthless bad guys. After all, I couldn't really
                                get a real job. I moved to Denizli in 2021. Months after I moved, I worked remotely for
                                6 months at an automation company headquartered in Izmir. Then I was again in the vacuum
                                of space...</p>
                            <br>
                            <p>Now let me tell you a little bit about my character so that you can find out what kind of
                                man you will hire. I am a multifunctional alien who is hardworking, eager to learn new
                                technologies, needs motivation, can do great things with a little support, a little
                                love, generally thinks pragmatically, is respectful, honest, addicted to the concept of
                                ethics. I certainly do not claim to be earthly, because if I were from this world, you
                                would not be reading this article. For a more intimate conversation, you can express
                                your desires in private.</p>
                            <br>
                            <p>For those who are curious, I list my areas of interest: Nature, science, art, space.</p>
                            <br>
                            <p>As general activities; When I was in Izmir, I used to go to camps, nature walks, and join
                                bike tours. I embarked on an adventure to meet new people and gain new experiences,
                                because if I hadn't done it, no one would have dragged me on that adventure. Sometimes I
                                would walk from Konak to Alsancak. I used to lose myself in the streets of Alsancak and
                                wander around unconsciously. Now I just ride a bike. Sometimes I walk alone in the
                                forest. People get used to it over time.</p>
                            <hr>
                            <q>A person
                                who does not dream has never lived.</q>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="col-4 px-0"><img class="w-100 h-100" src="/public/images/1.jpg" alt="">
                                </div>
                                <div class="col-4 px-0"><img class="w-100 h-100" src="/public/images/2.jpeg" alt="">
                                </div>
                                <div class="col-4 px-0"><img class="w-100 h-100" src="/public/images/3.jpg" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 px-0"><img class="w-100 h-100" src="/public/images/4.jpg" alt="">
                                </div>
                                <div class="col-6 px-0"><img class="w-100 h-100" src="/public/images/5.jpg" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-0"><img class="w-100 h-100" src="/public/images/6.jpg" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-0"><img class="w-100 h-100" src="/public/images/7.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="references" class="custom-modal position-fixed h-100" style="display: none;">
            <div class="custom-modal-container">
                <div class="custom-modal-header d-flex justify-content-end align-items-center p-2 bg-white"><span
                        class="close bg-black d-flex justify-content-center align-items-center overflow-hidden"><img
                            src="/public/images/close-button.svg" alt=""></span></div>
                <div class="custom-modal-content">
                    <div class="row mx-0">
                        <div class="col-12 col-md-6 col-lg-8">
                            <div class="reference">
                                <div class="brand-logo"></div>
                                <div class="info">
                                    <ul class="list-unstyled">
                                        <li>CEO: ENGIN BAGDAS</li>
                                        <li>Entry Date: 15.12.2020</li>
                                        <li>Dismissal Date: 10.06.2021</li>
                                        <li>My Title Was: Front-End Developer</li>
                                        <li><a href="https://enerotomasyon.com.tr" target="blank">Go to website</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden bg-white">
            <div class="row">
                <div class="lines position-relative d-flex align-items-center px-0">
                    <nav class="position-absolute">
                        <ul class="list-group list-group-horizontal list-unstyled">
                            <li data-target="me"><a href=""><span>Me</span></a></li>
                            <li data-target="references" class="mx-3"><a href=""><span>References</span></a></li>
                            <li data-target="language" class="p-0"><select id="language"
                                    class="form-select rounded-0" aria-label="Default select example">
                                    <option value="en" selected>EN</option>
                                    <option value="tr">TR</option>
                                </select></li>
                        </ul>
                    </nav>
                    <img src="/public/images/lines.svg" class="w-100" alt="" loading="lazy">
                </div>
            </div>
            <div class="row mt-2">
                <div class="hero d-flex justify-content-center justify-content-sm-start align-items-center ps-0">
                    <div class="text-end">
                        <h1 class="name d-flex align-items-center mb-0">
                            <hr class="line d-none d-sm-block"><span>VOLKAN</span>COSKUN
                        </h1>
                        <h2 class="title mb-0">UI ARTIST & DEVELOPER</h2>
                    </div>
                    <img class="directors-chair ms-2" src="/public/images/director-chair.svg" alt="Director"
                        loading="lazy">
                </div>
            </div>
            <div class="row">
                <div id="freelancer" class="col-3 d-flex align-items-center" data-tilt>
                    <div class="freelancer position-relative d-flex align-items-center">
                        <div class="social-media-links me-4">
                            <ul class="list-unstyled list-group list-horizontal">
                                <li class="d-flex justify-content-center align-items-center">
                                    <a href="https://www.linkedin.com/in/volkan-coskun/" target="_blank">
                                        <img src="/public/images/links/linkedin.svg" alt="LinkedIn" loading="lazy"></a>
                                </li>
                                <li class="mt-4 d-flex justify-content-center align-items-center">
                                    <a href="https://github.com/Webdvpv" target="_blank">
                                        <img src="/public/images/links/github.svg" alt="Github" loading="lazy"></a>
                                </li>
                                <li class="mt-4 d-flex justify-content-center align-items-center">
                                    <a href="https://behance.net/8bitlikadam" target="_blank">
                                        <img src="/public/images/links/behance.svg" alt="Behance" loading="lazy"></a>
                                </li>
                                <li class="mt-4 d-flex justify-content-center align-items-center">
                                    <a href="https://8bitlikadam.volkancoskun.tk" target="_blank">
                                        <img src="/public/images/links/8bitlikadam.svg" alt="8bitlikadam"
                                            loading="lazy"></a>
                                </li>
                                <li class="mt-4 d-flex justify-content-center align-items-center">
                                    <a href="https://webgaste.com" target="_blank">
                                        <img src="/public/images/links/webgaste.svg" alt="8bitlikadam"
                                            loading="lazy"></a>
                                </li>
                                <li class="mt-4 d-flex justify-content-center align-items-center">
                                    <a href="/public/files/resume_volkan_coskun.docx">
                                        CV</a>
                                </li>
                            </ul>
                        </div>
                        <span>F<br>R<br>E<br>E<br>L<br>A<br>N<br>C<br>E<br>R</span>
                    </div>
                </div>
                <div class="col-9 pe-0">
                    <div class="image-1"></div>
                </div>
            </div>
            <div class="row mt-107">
                <div class="col-12">
                    <%- include("components/hgroup.ejs", name="hero" ) %>
                </div>
                <div class="col-12">
                    <div class="portfolio-gallery">
                        <div class="title">
                            <div class="counter">
                                <span class="count">01</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">ON AIR</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="https://cheetahmac.com" target="blank">
                                    <div class="item text-center">
                                        <div class="number">01</div>
                                    </div>
                                </a>
                                <a href="http://agrofood.com.tr/" target="blank">
                                    <div class="item text-center">
                                        <div class="number">02</div>
                                    </div>
                                </a>
                                <a href="https://8bitlikadam.volkancoskun.tk" target="blank">
                                    <div class="item text-center">
                                        <div class="number">03</div>
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div>
                        <div class="title">
                            <div class="counter">
                                <span class="count">02</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">UI DESIGN</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="/public/images/portfolio/ui-design/1.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">01</div>
                                    </div>
                                </a>
                                <a href="/public/images/portfolio/ui-design/2.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">02</div>
                                    </div>
                                </a>
                                <a href="/public/images/portfolio/ui-design/3.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">03</div>
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div>
                        <div class="title">
                            <div class="counter">
                                <span class="count">03</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">UI PROTOTYPE</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="https://figma.fun/ZOdxd7" target="blank">
                                    <div class="item text-center">
                                        <div class="number">01</div>
                                    </div>
                                </a>
                                <a href="https://figma.fun/mIajAW" target="blank">
                                    <div class="item text-center">
                                        <div class="number">02</div>
                                    </div>
                                </a>
                                <a href="https://figma.fun/6NoetL" target="blank">
                                    <div class="item text-center">
                                        <div class="number">03</div>
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div>
                        <div class="title">
                            <div class="counter">
                                <span class="count">04</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">CODING</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="/public/files/coding-sample.rar">
                                    <div class="item text-center">
                                        DOWNLOAD SAMPLE
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div>
                        <div class="title">
                            <div class="counter">
                                <span class="count">05</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">CORPORATE<br>IDENTITY DESIGN</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="/public/images/portfolio/corporate-identity-design/1.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">01</div>
                                    </div>
                                </a>
                                <a href="/public/images/portfolio/corporate-identity-design/2.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">02</div>
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div>
                        <!-- <div class="title">
                            <div class="counter">
                                <span class="count">05</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">MOCKUP</h1>
                            </div>
                            <div class="black-bg"></div>
                            <a class="goIn" href="">→</a>
                        </div> -->
                        <!-- <div class="title">
                            <div class="counter">
                                <span class="count">06</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">LANDING<br>PAGE DESIGN</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="" target="blank">
                                    <div class="item text-center">
                                        <div class="number">01</div>
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div> -->
                        <div class="title">
                            <div class="counter">
                                <span class="count">06</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">DESIGNS FOR<br>SOCIAL MEDIA</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="/public/images/portfolio/designs-for-social-media/1.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">01</div>
                                    </div>
                                </a>
                                <a href="/public/images/portfolio/designs-for-social-media/2.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">02</div>
                                    </div>
                                </a>
                                <a href="/public/images/portfolio/designs-for-social-media/3.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">03</div>
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div>
                        <!-- <div class="title">
                            <div class="counter">
                                <span class="count">08</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">EMAIL DESIGN</h1>
                            </div>
                            <div class="black-bg"></div>
                            <a class="goIn" href="">→</a>
                        </div> -->
                        <!-- <div class="title">
                            <div class="counter">
                                <span class="count">09</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">MOBILE<br>APP DESIGN</h1>
                            </div>
                            <div class="black-bg"></div>
                            <a class="goIn" href="">→</a>
                        </div> -->
                        <div class="title">
                            <div class="counter">
                                <span class="count">07</span>
                                <span class="line"></span>
                            </div>
                            <div class="title-cover-text">
                                <h1 class="w-100 text-center mb-0">INSPIRATION</h1>
                            </div>
                            <div class="black-bg"></div>
                            <div class="items">
                                <a href="/public/images/portfolio/inspiration/1.jpg" target="blank">
                                    <div class="item text-center">
                                        <div class="number">01</div>
                                    </div>
                                </a>
                            </div>
                            <a class="goIn" href="">→</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-107">
                <div class="col-md-7">
                    <div class="about">
                        <%- include("components/hgroup.ejs", name="about" ) %>
                            <p>1993 - I was born and grew up in Izmir. I've been designing and coding since 2012. I
                                know how a website will look pleasing to the eye, how it will impress the user, how
                                it will
                                convey information faster. Leave yourself to me and enjoy the service you will
                                receive. You are
                                in safe hands.</p>
                            <div class="row">
                                <div class="col-12"><img class="golden-record float-end"
                                        src="/public/images/golden-record.png" alt="Golden Record" loading="lazy">
                                    <p>Let's put that aside and get into my private life. Space, stars, far
                                        unexplored lands, anything retro are of particular interest to me. I dream
                                        when I listen
                                        to
                                        Daft
                                        Punk and Parcels. I dream of a place where anything is possible. A place
                                        where my loved
                                        ones
                                        are
                                        by my side, away from evil. And suddenly I'm lost in the depths of space. I
                                        wander among
                                        the
                                        stars and colorful dust clouds. I perish peacefully.<br><br>Take
                                        a
                                        journey with me and imagine what you will see.</p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-5 text-end ps-0 ps-md-3 pe-0">
                    <div class="image-2">
                        <div class="path h-100"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-107">
                <div class="col-md-6">
                    <div class="hgroup">
                        <%- include("components/hgroup.ejs", name="contact" ) %>
                    </div>
                    <form name="contact" action="/">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                        required maxlength="75">
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="surname" name="surname"
                                        placeholder="Surname" required maxlength="75">
                                    <label for="surname">Surname</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                        required maxlength="75">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="subject" name="subject"
                                        placeholder="Subject" required maxlength="75">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" name="message" placeholder="Message"
                                        required maxlength="750"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="isHuman" name="isHuman"
                                        required>
                                    <label class="form-check-label" for="isHuman">
                                        Imma human <span class="isHumanWarning d-none"> | Please check this sh*t!</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <span class="messageStatus d-none">You just made a huge mistake. Sent it...</span>
                            </div>
                            <div class="col-12">
                                <button id="send" class="btn"><span class="middle-finger-icon">🖕</span>Just Send it B*tch</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-6 overflow-hidden px-0 pe-md-0">
                    <img class="image-3 w-100" src="/public/images/retro-call.jpg" alt="Contact" loading="lazy">
                </div>
            </div>
        </div>
        <%- include("./layout/footer.ejs") %>